.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  min-height: 60px;
}

.Item-code {
  padding: 0 10px 0 20px;
}

.Item-title {
  width: 100%;
  padding: 0 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 10px;
}

.Item-actions button {
  cursor: pointer;
  width: 76px;
}

.Item-price {
  white-space: nowrap;
  padding-right: 10px;
}